<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col">
      <p class="text-end">
        <span> Hola {{usuario}} !</span>
        <a href="/admin/login/logout" class="btn btn-danger">
          Cerrar sesión
          <i class="fas fa-sign-out-alt"></i></a>
      </p>
    </div>
  </div>
  {{! fila 2 }}
  <div class="row">
    <div class="col-7" style="margin: top 9px;">
      <h2>Promociones</h2>
    </div>
    <div class="col-5 text-rigth">
      <a href="/admin/promociones/agregar" class="btn btn-success"> <i class="fas fa-plus"></i>Nuevo</a>
    </div>
  </div>
  {{! fin fila 2 }}
  {{! fila 3 }}
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
          </tr>
        </thead>
        <tbody>
            {{#each promociones}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{titulo}}</td>
            <td>{{{imagen}}}</td>
            <td class="text-right">
                {{!-- editar --}}
              <a href="/admin/promociones/modificar/{{id}}" class="btn btn-secondary"><i
                  class="fas fa-pencil-alt"
                ></i></a>
                {{!-- eliminar --}}
              <a href="/admin/promociones/eliminar/{{id}}" class="btn btn-secondary">
                <i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>