<!-- img de fondo para promociones -->
<div class="container fondo-promociones">
  <div class="info-fondo">
    <h2 class="titulo-fondo">Promociones </h2>
    <h3 class="subtitulo-fondo">Conoce todo lo que tenemos para ofrecerte</h3>
  </div>
</div>

<!-- Promo 1 -->
<div class="row align-items-center py-4 mt-4 fondo-adicional">
  <div class="col-lg-3 col-md-3 offset-lg-2">
    <ul>
      {{#each promociones}}
        <li>
          <a
            href="javascript:void(0)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          > <img src="{{imagen}}" /> {{titulo}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

{{#each promociones}}
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"> &times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6> {{descripcion}}</h6>
          <p>{{precio}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}